[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
flask-bcrypt = "*"
pymongo = "*"
pip = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
